<div
  class="container position-relative fixed-bottom d-flex flex-wrap justify-content-sm-between align-items-center py-3 my-4 border-top justify-content-center">
  <div class="col-md-4 d-flex align-items-center w-50">
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <span class="text-muted">© 2022 Projecte final del Màster Universitari en Desenvolupament de llocs i aplicacions
        web per la Universitat Oberta de Catalunya. <br> Redactor: Gerard Vidal gonzalez</span>
    </a>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="fb-ic">
        <i class="bi bi-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a></li>
    <li class="ms-3"><a class="tw-ic">
        <i class="bi bi-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a></li>
    <li class="ms-3"><a class="gplus-ic">
        <i class="bi bi-google fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a></li>
    <li class="ms-3"><a class="li-ic">
        <i class="bi bi-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a></li>
    <li class="ms-3"><a class="ins-ic">
        <i class="bi bi-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
      </a></li>
    <li class="ms-3"><a class="pin-ic">
        <i class="bi bi-pinterest fa-lg white-text fa-2x"> </i>
      </a></li>
  </ul>
</div>
