<div class="container">
  <h2 class="center">Inscripción a los cursos</h2>
  <form name="inscripcio" action="#" method="post">
      <p class="required">Los campos señalados con * son obligatorios</p>
      <fieldset>
          <legend>Selección del curso</legend>
          <ul>
              <li>
                  <label for="curso">Escoja un curso <abbr title="obligatori">*</abbr></label>
                  <select name="curso" id="curso" class="third" required>
                      <option value="">Seleccione una opción</option>
                      <option value="Nivell inicial y medio">Nivel inicial y medio</option>
                      <option value="Nivel avanzado">Nivel avanzado</option>
                  </select>
              </li>
          </ul>
      </fieldset>
      <fieldset>
          <legend>Datos personales y de contacto</legend>
          <ul>
              <li class="controlInlineHalf">
                  <label for="nombre">Nombre <abbr title="obligatorio">*</abbr></label>
                  <input type="text" name="nombre" id="nombre" value="" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,64}" title="Solo caracteres alfabéticos. Un mínimo de 2 y un máximo de 64 caracteres" required >
              </li>
              <li class="controlInlineHalf">
                  <label for="apellidos">Apellidos <abbr title="obligatorio">*</abbr></label>
                  <input type="text" name="apellidos" id="apellidos" value="" pattern="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{2,128}" title="Solo caracteres alfabéticos. Un mínimo de 2 y un máximo de 128 caracteres" required >
              </li>
              <li class="controlInlineHalf">
                  <label for="correo">Correo electrónico <abbr title="obligatorio">*</abbr></label>
                  <input type="email" name="correo" id="correo" value="" required  class="halfInLine">
              </li>
              <li class="controlInlineHalf">
                  <label for="telefono">Teléfono <abbr title="obligatorio">*</abbr></label>
                  <input type="tel" name="telefono" id="telefono" value="" required >
              </li>
              <li  class="controlInlineThird">
                  <label for="fechanacimiento">Fecha de nacimiento <abbr title="obligatori">*</abbr></label>
                  <input type="date" name="fechanacimiento" id="fechanacimiento" value="" required>
              </li>
          </ul>
      </fieldset>
      <fieldset>
          <legend>Otras informaciones</legend>
          <ul>
              <li>
                  <label for="interes">¿Por qué está interesado en hacer un curso de ajedrez?</label>
                  <textarea name="interes" id="interes"></textarea>
              </li>
              <li>
                  <label for="medio">¿Por qué medio nos ha conocido?</label>
                  <select name="medio" id="medio" class="third">
                      <option value="">Seleccione una opción</option>
                      <option value="Redes sociales">Redes sociales</option>
                      <option value="Buscadores de Internet">Buscadores de Internet</option>
                      <option value="Otro participante">Otro participante</option>
                  </select>
              </li>
          </ul>
      </fieldset>
      <div class="outFieldset">
          <p class="infoLegal">INFORMACIÓN SOBRE PROTECCIÓN DE DATOS DE <b>TORRE POR TORRE</b>. <b>Finalidades</b>: recogida de datos para la inscripción en los cursos. <b>Legitimación</b>: Consentimiento del interesado. <b>Destinatarios:</b> No están previstas cesiones de datos a terceros, excepto obligación legal. <b>Derechos</b>: Puede retirar su consentimiento en cualquier momento, así como acceder, rectificar, suprimir sus datos y otros derechos dirigiéndose a info@torrextorre.org. <b>Información Adicional</b>: Puede ampliar la información en el enlace de Aviso Legal y Política de privacidad.</p>
          <ul>
              <li>
                  <input type="checkbox" name="politica" id="politica" value="Aceptacion de política y aviso" required >
                  <label for="politica">He leído y acepto la <a href="">política de privacidad</a> <abbr title="obligatorio">*</abbr></label>
              </li>
          </ul>
          <input type="submit" value="Enviar">
      </div>
  </form>
</div>
