<nav class="navbar navbar-expand-lg navbar-light bg-light" (scroll)="onscroll()"
  [ngClass]="navbarfixed?'fixed':'nofixed'">
  <button class="navbar-toggler mx-2" type="button" data-toggle="collapse" data-target="#navbarPortada" aria-controls="navbarPortada" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse align-content-center justify-content-around bg-light my-1" id="navbarPortada">
    <div class="d-flex justify-content-around align-content-center">
      <ul class="navbar-nav mr-auto align-content-center">
        <li class="nav-item" routerLinkActive="active"><button type="button" class="btn"
          routerLink="/client" style="font-size: 1.2rem; font-weight: bold;">Espai personal</button>
      </li>
        <li class="nav-item dropdown" routerLinkActive="active"><button type="button" class="btn dropdown-toggle" id="dropdownMenuButtonEconomia" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Economia</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonEconomia">
            <button class="dropdown-item btn" type="button" routerLink="/client/economiaClient">Produccións</button>
            <button class="dropdown-item btn" type="button" routerLink="/client/economiaClient" fragment="headingInversions">Inversions</button>
            <button class="dropdown-item btn" type="button" routerLink="/client/economiaClient" fragment="headingAltres">Altres</button>
          </div>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active"><button type="button" class="btn dropdown-toggle" id="dropdownMenuButtonPersonalClient" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Configuració personal</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonPersonalClient">
            <button class="dropdown-item btn" type="button" routerLink="/client/espaiPersonal">Dades personals</button>
            <button class="dropdown-item btn" type="button" routerLink="/client/espaiPersonal" fragment="headingBanc">Dades bancaries</button>
            <button class="dropdown-item btn" type="button" routerLink="/client/espaiPersonal"
              fragment="headingDireccions">Les meves direccións</button>
          </div>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active"><button type="button" class="btn dropdown-toggle" id="dropdownMenuButtonContribucioClient" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contribucions</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonContribucioClient">
            <button class="dropdown-item btn" type="button" routerLink="/client/espaiClient">Puntuacions</button>
            <button class="dropdown-item btn" type="button" routerLink="/client/espaiClient" fragment="headingBanc">Comentaris</button>
          </div>
        </li>
        <li class="nav-item" routerLinkActive="active"><button type="button" class="btn" routerLink="/client/seguiment">Seguiment</button></li>
        <li class="nav-item" routerLinkActive="active"><button type="button" class="btn" routerLink="/client/contacta">Contacta</button></li>
      </ul>
    </div>
    <form class="form-inline my-2 my-lg-0 d-flex justify-content-center">
      <input class="form-control mr-sm-2 w-auto" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
