<div class="d-flex flex-column p-md-3">
  <section class="p-3 bg-white">
    <header class="text-center">
      <h2>Noiticies</h2>
    </header>
    <main>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam incidunt, nemo consequuntur tenetur beatae
        quidem quasi officia tempora. Eligendi explicabo totam sit id aliquid aspernatur possimus corporis nobis ea
        aliquam!</p>
    </main>
  </section>
  <section class="p-3 d-flex justify-content-around flex-wrap">
    <div *ngFor="let post of posts; index as i; first as isFirst" class="card">
      <div class="card m-2 cardDetall">
        <!-- <img
          src={{post.img}}
          class="card-img-top" alt="..."> -->
        <img
          src="https://media.istockphoto.com/photos/pouring-beer-with-bubble-froth-in-glass-for-background-on-front-view-picture-id937833412?k=20&m=937833412&s=612x612&w=0&h=NrT5gL91dpiS01wavn9LdkNtpLvrJ-Rk3w3nzdGoKUU="
          class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title text-center">{{ post.title }}</h3>
          <p>Data de publicació: {{ post.publication_date}}</p>
          <p class="card-text texthiden">{{ post.description }}</p>
          <p>Paraules clau: {{ post.tags }}</p>
          <app-noticia-extens [postExtend]="post"></app-noticia-extens>
        </div>
      </div>
    </div>
  </section>
</div>
