/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: greenyellow solid .1px;
}

