<div class="d-flex flex-column p-md-3">
  <section class="p-2 bg-white">
    <header class="text-center">
      <h2>Espai personal</h2>
    </header>
    <main>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam incidunt, nemo consequuntur tenetur beatae
        quidem quasi officia tempora. Eligendi explicabo totam sit id aliquid aspernatur possimus corporis nobis ea
        aliquam!</p>
    </main>
  </section>
  <section class="p-2 bg-white d-flex justify-content-around flex-wrap flex-md-column">
  </section>
</div>
